{% extends "base.html" %}
{% block title %}联系管理员{% endblock %}
{% block content %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>写信给管理员</h3>
            </div>
            <form action="." name="contact_admin" method="post">
                {% csrf_token %}
                <div class="panel-body">
                    {{ form.as_p }}
                </div>
                <div class="panel-footer">
                    <input type="submit" value="提交" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
{% endblock %}